* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(36, 36, 36);
}

footer {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 12px;
}

.inputs,
.inputs>div {
    user-select: none;
}

input[type="button"],
input[type="submit"],
button {
    background-color: rgb(48, 48, 48);
    border: solid 1px rgb(71, 71, 71);
    padding: 5px 5px;
    border-radius: 3px;
    color: white;
    min-width: 100px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color .3s, border .3s;
}

input[type="button"]:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled),
button:hover:not(:disabled) {
    background-color: rgb(63, 63, 63);
    border: solid 1px rgb(100, 100, 100);
}

input[type="button"]:active:not(:disabled),
input[type="submit"]:active:not(:disabled),
button:active:not(:disabled) {
    background-color: rgb(85, 85, 85);
    border: solid 1px rgb(116, 116, 116);
}

input[type="text"],
input[type="password"] {
    background-color: rgb(48, 48, 48);
    border: solid 1px rgb(71, 71, 71);
    padding: 5px 5px;
    border-radius: 3px;
    outline: solid 2px transparent;
    color: white;
    cursor: text;
    transition: border .3s, outline .3s;
    margin-bottom: 5px;
}

input[type="text"]:hover:not(:disabled),
input[type="password"]:hover:not(:disabled) {
    border: solid 1px rgb(100, 100, 100);
}

input[type="text"]:focus:not(:disabled),
input[type="password"]:focus:not(:disabled) {
    border: solid 1px transparent;
    outline: solid 2px rgba(44, 153, 255, 0.562);
    transition: border .1s, outline .6s;
}

input:focus {
    outline: none
}

.hidden {
    display: none !important;
}

.hidden-anim {
    transform: translateX(-100%);
    transition: transform 1s;
}

.show-anim {
    display: block !important;
    animation: showaminleft .5s;
}

.hide-anim {
    animation: hideaminleft .5s;
}

@keyframes showaminleft {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(-0%)
    }
}

@keyframes hideaminleft {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(-100%)
    }
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.onlineusers-list {
    background-color: rgb(36, 36, 36);
    border: solid 1px rgb(71, 71, 71);
    min-width: 170px;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    padding: 15px;
    right: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 3px;
}

.onlineusers-list::-webkit-scrollbar {
    display: none;
}

.onlineusers-list>h3 {
    margin: 0;
    font-size: 12px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: solid 1px rgb(71, 71, 71);
}

.onlineusers-list>ul {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
    margin-bottom: 0px;
    display: grid;
}

.onlineusers-list>ul>p {
    margin: 5px;
    padding-right: 0px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(48, 48, 48);
    border: solid 1px rgb(71, 71, 71);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: background-color .3s, border .3s;
}

.onlineusers-list>ul>p:hover {
    background-color: rgb(63, 63, 63);
    border: solid 1px rgb(100, 100, 100);
}

.onlineusers-list>ul>p:active {
    background-color: rgb(85, 85, 85);
    border: solid 1px rgb(116, 116, 116);
}

.login {
    padding: 5px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    display: grid;
}

.login>form {
    display: grid;
}

.login>h1 {
    margin-bottom: 20px;
    user-select: none;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(71, 71, 71);
}

.login>form>input,
.login>form>button {
    min-width: 250px;
}

.login>form>button {
    margin-top: 10px;
}

input.invalid {
    border: solid 1px rgb(133, 17, 17);
}

input:disabled,
button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.input-notif {
    margin-bottom: 15px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.input-notif.valid {
    background-color: rgb(0, 168, 11);
}

.input-notif.invalid {
    background-color: rgb(168, 0, 0)
}

.input-notif>p {
    margin-bottom: 5px;
    margin-top: 5px;
}